{port_specs, [
    {"priv/cdberl_nif.so",["c_src/cdberl_nif.c", "c_src/debug.c"]},
    {"priv/cdberlwriter_nif.so",["c_src/cdberlwriter_nif.c", "c_src/debug.c"]}
]}.

{port_env, [
    {".*", "CFLAGS", "$CFLAGS -g -Wall -Werror -O3 -fPIC"},
    {".*", "LDFLAGS", "-lcdb -L/usr/local/lib -fPIC"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
        "LDFLAGS", "$LDFLAGS"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"},

    %% This will merge into basho/rebar/rebar.config eventually
    {"win32", "CFLAGS", "/Wall /DWIN32 /D_WINDOWS /D_WIN32 /DWINDOWS"},
    {"win32", "CFLAGS", "-g -Wall -O3"}
]}.

